#home-page {
    width: 100%;
    height: 100%;
}

#home-page-landing {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#landing-left {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

#landing-left-content {
    text-align: right;
    padding: 1em 1em 1em 3em;
}

#landing-left-content h1 {
    font-size: 5em;
}

#landing-left-content p {
    font-size: 3em;
}

#landing-left-content button {
    font-size: 2em;
    padding: .5em;
}